<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center">Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="imgcontainer">
    <img src="assets/imgs/guru.jpg" alt="Avatar" class="avatar">
  </div>



  <div>
    <ion-label stacked>
      <b>Email</b>
    </ion-label>
    <ion-input class="selectable" type="text" [(ngModel)]="username"></ion-input>
  </div>

  <div>
    <ion-label stacked>
      <b>Password</b>
    </ion-label>
    <ion-input type="{{type}}" [(ngModel)]="password"></ion-input>
  </div>
  <ion-row>
    <ion-col col-6>

      <p style="white-space:normal;" (click)="showConfirmPassword()">
        <ion-checkbox *ngIf="!showPass2" color="dark" (click)="showConfirmPassword()"></ion-checkbox>
        <ion-checkbox *ngIf="showPass2" checked="true" color="dark" (click)="showConfirmPassword()"></ion-checkbox>Show Password</p>

    </ion-col>
    <ion-col col-6>
      <p style="float:right;width:100%;text-align:right;" (click)="openModal()">Forgot Password ?</p>
    </ion-col>
  </ion-row>




  <button ion-button style="background: #d3ab26" (click)="login()">Login</button>

  <p style="text-align:center;width:100%;">New Here ?
    <b style="color:#d3ab26;" (click)="signup()">Create Account</b>
  </p>


</ion-content>