<!--
  Generated template for the VichardhandetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>विचारधन</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: url(assets/imgs/redbgndd.jpg)">
  <h3 style="color:white;text-align:center;">प. पू. बाबांचे विचारधन</h3>
  <ion-card style="background: url(assets/imgs/card_bg1.jpg); margin-top:15px; height:auto; padding:0px!important;">
    <p padding style="color:black;">दत्त (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव मानले जाते. स्वधर्म आणि स्वसंस्कृती संकटग्रस्त असताना त्यांची
      जोपासना व संरक्षण करण्याचे महत्त्वाचे कार्य दत्त संप्रदायाने केले. दत्त ही देवता अत्रि ऋषी व त्यांची पत्‍नी अनुसया
      यांचा पुत्र असून त्याला दुर्वास व सोम नावाचे दोन भाऊ आहेत. दत्त (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव
      मानले जाते. स्वधर्म आणि स्वसंस्कृती संकटग्रस्त असताना त्यांची जोपासना व संरक्षण करण्याचे महत्त्वाचे कार्य दत्त संप्रदायाने
      केले. दत्त ही देवता अत्रि ऋषी व त्यांची पत्‍नी अनुसया यांचा पुत्र असून त्याला दुर्वास व सोम नावाचे दोन भाऊ आहेत दत्त
      (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव मानले जाते. स्वधर्म आणि स्वसंस्कृती संकटग्रस्त असताना त्यांची
      जोपासना व संरक्षण करण्याचे महत्त्वाचे कार्य दत्त संप्रदायाने केले. दत्त ही देवता अत्रि ऋषी व त्यांची पत्‍नी अनुसया
      यांचा पुत्र असून त्याला दुर्वास व सोम नावाचे दोन भाऊ आहेत दत्त (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव
      मानले जाते.</p>

    <ion-row style="text-align:center;">
      <ion-col>
        <ion-icon style="color:black;font-size:30px;" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon style="color:black;font-size:30px;" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>