<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>श्री विष्णुदास स्वामी महाराज</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

  <div style="text-align:center;width:100%;background:white;">
    <ion-row>
      <ion-col col-2>
        <img style="height:150px;" src="assets/imgs/2121.png">
      </ion-col>
      <ion-col col-8 style="text-align:center;">
        <ion-avatar style="text-align:center;padding-left:40px;padding-top:10px;">
          <img style="width:80%;height:150px;border-radius:50%;text-align:center;" src="assets/imgs/guru.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col col-2>
        <img style="height:150px;" src="assets/imgs/2121.png">
      </ion-col>
    </ion-row>

    <p style="color:rgb(124, 26, 23);text-align:center;width:100%;font-size:18px;">
      <b>|| समर्थ सद्‍ गुरु श्री विष्णुदास स्वामी महाराज ||</b>
    </p>
    <img style="margin-top:-20px; width: 100%" src="assets/imgs/indexline.png">
  </div>
  <button ion-fab style="float:right;margin-right:10px;margin-bottom: -30px;" (click)="indexPage()">
    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
  </button>
  <ion-card style="background:rgba(209, 230, 181, 0.219); height:auto; padding:0px!important;">
    <p class="para" padding style="text-align: justify;color:rgb(23, 109, 124);">
      <b>सावंतवाडी जवळील साखळी येथील इतिहास प्रसिध्द पटवर्धन घराण्यात माघ वद्य व्दादशी शनिवार दि. १६ फेब्रुवारी १९०१ रोजी जन्म."
      </b>
    </p>
    <p padding style="text-align: justify;color:rgb(23, 109, 124);">
      <b>बालपणापासूनच ईश्वराची ओढ. १९२३ साली काशीक्षेत्री पू. टेम्बेस्वामीचे शिष्य पू. प्रज्ञानंदसरस्वती यांचेकडून अनुग्रह.
        तीन चार वर्ष गुरुसोबत भ्रमण. त्यानंतर गुर्वाज्ञेवरुन रामेश्वरापासून हिमालयापर्यंत भ्रमंती. १९४१ च्या सुमारास मातृ-पितृ
        छत्र हरपले. त्याच दरम्यान श्रीगुरुंचे देहावसान झाले." "श्री गुरु टेंम्बेस्वामींच्या परंपरेतील श्री दत्तोपासना मार्गाचा
        अवलंब. गुरुचरित्रावर नितांत विश्वास. १९५२ साली तेल्हारा (जि. अकोला) परिसरात आले.</b>
    </p>
    <p padding style="text-align: justify;color:rgb(23, 109, 124);">
      <b> भांबेरी, गाडेगाव येथे काही काळ वास्तव्य करुन दत्तवाडी तेल्हारा येथे स्थायिक झाले. कठोर तपश्चर्या करुन कीर्तन / प्रवचनांच्या
        माध्यमातून अनेकांना भक्तिमार्गाला लावले. निष्ठा, निर्धार, निष्कामता यांचा मूर्तिमंत आदर्श. महाराष्ट्रात विशेषत: विदर्भात
        हजारो अनुग्रहित भक्तजन. शुक्रवार दि. ८ जून १९९० (ज्येष्ठ वद्य प्रतिपदा) रोजी अकोला येथे देहावसान. १० जून १९९० रोजी
        दत्तवाडी तेल्हासा येथे ’’समाधिस्थ’’. माघ वद्य १२ गुरुवार दि. १८ फेब्रुवारी १९९३ रोजी समाधि मंदिरात मूर्तीची प्राणप्रतिष्ठा
        दत्तवाडीचा कारभार पाहणाऱ्या श्री. मनोहरराव देव यांच्या पुढाकाराने संपन्न.
        <br>
        <br> श्री गणेश जयंती, श्री दत्त जयंती, श्रीराम नवमी, श्री शैलगमनोत्सव, श्री तृसिंह जयंती, पू. महाराजांची पुण्यतिथी हे
        प्रमुख उत्सव, दर गुरुवारी पालखी प्रदक्षिणा व नित्योपासना नित्याप्रमाणे सुरु आहे.</b>
    </p>
  </ion-card>

  <!-- <button ion-button round full (click)="indexPage()" style="margin-bottom:10px;">Next</button> -->
</ion-content>