page-vichardhan {
    .card{
        border:5px solid rgb(199, 156, 17);
        height:100px;
        width:250px;
        margin-left:50px;
       //  background: url(assets/imgs/redbgndd.jpg);
        color:white;
        text-align:center;
        font-size:16px;
        padding-top: 10px;
        padding-top:30px;
   }
}
