<!--
  Generated template for the VichardhanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>विचारधन</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url(assets/imgs/redbgndd.jpg)">
  <ion-list style="text-align:center;">
    <div style="text-align:center;">
      <ion-row style="border:5px solid rgb(199, 156, 17);margin-top:20%;  margin-left: 15%;margin-right: 15%;
      height:100px;" (click)="vichar()">
        <ion-col col-6>
          <img style="height:80px;color:white;" src="http://www.iconsplace.com/download/white-guru-512.png">
        </ion-col>
        <ion-col col-6 style="text-align:center;font-size:20px;color:white;">प. पू. बाबांचे विचारधन</ion-col>
      </ion-row>

      <ion-row style="border:5px solid rgb(199, 156, 17); margin-top:15px; height:100px; margin-left: 15%;margin-right: 15%;" (click)="updesh()">
        <ion-col col-6>
          <img style="height:80px;color:white;" src="https://www.prosci.com/media/icons/icon-thoughtleadershiplibrary-white-box.png ">
        </ion-col>
        <ion-col col-6 style="text-align:center;font-size:20px;color:white;">सद्गुरु उपदेश</ion-col>
      </ion-row>

      <ion-row style="border:5px solid rgb(199, 156, 17); margin-top:15px; margin-left: 15%;margin-right: 15%; height:100px;" (click)="ovya()">
        <ion-col col-6>
          <img style="height:80px;color:white;" src="https://bit.ly/2GPXIgf">
        </ion-col>
        <ion-col col-6 style="text-align:center;font-size:20px;color:white;">सद्गुरु ओव्या</ion-col>
      </ion-row>
    </div>

  </ion-list>
</ion-content>


<!-- <ion-content style="background: url(assets/imgs/redbgndd.jpg)">

  <h3 style="color:white;text-align:center;">विचारधन</h3>
  <span>
    <img src="assets/imgs/linee12.png" style="width:70%;height: 30px; margin-left:50px;">
  </span>
  <p style="color:white;padding-left:16px;padding-right:16px;padding-bottom:16px;">दत्त (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव मानले जाते. स्वधर्म आणि स्वसंस्कृती संकटग्रस्त असताना त्यांची
    जोपासना व संरक्षण करण्याचे महत्त्वाचे कार्य दत्त संप्रदायाने केले. दत्त ही देवता अत्रि ऋषी व त्यांची पत्‍नी अनुसया यांचा
    पुत्र असून त्याला दुर्वास व सोम नावाचे दोन भाऊ आहेत</p>

</ion-content>
<ion-footer style="background-color:transparent!important; color:transparent!important;">
  <ion-row style="text-align:center;background:transparent!important;">
    <ion-col>
      <ion-icon style="color:white;font-size:30px;" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon style="color:white;font-size:30px;" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer> -->