<!--
  Generated template for the YearlyFestivalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>वर्षभरात साजरे होणारे उत्सव</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url(assets/imgs/redbgndd.jpg)">
  <div style="padding:10px;">

    <div class="row" ng-repeat="data in ctrl.data">
      <!-- <div class="col" style="color:white;">क्रमांक</div> -->
      <div class="col" style="color:white;">
        <b>उत्सव</b>
      </div>
      <div class="col" style="color:white;">
        <b>दिवस</b>
      </div>
      <div class="col" style="color:white;">
        <b>दिनांख</b>
      </div>

    </div>
    <div class="row">
      <!-- <div class="col" style="color:white;">१</div> -->
      <div class="col" style="color:white;">श्रीमद दिन शंकरराज्य जयंती</div>
      <div class="col" style="color:white;">सोमवार</div>
      <div class="col" style="color:white;">२४ मे २०१८</div>
    </div>

    <div class="row" ng-repeat="data in ctrl.data">
      <!-- <div class="col" style="color:white;">२</div> -->
      <div class="col" style="color:white;">श्री गुरुपोर्निमा</div>
      <div class="col" style="color:white;">मंगळवार</div>
      <div class="col" style="color:white;">२५ मे २०१८</div>
      <!-- <div class="col">गुरुवार</div>
        <div class="col">शुक्रवार</div>
        <div class="col">शनिवार</div>
        <div class="col">रविवार</div> -->
    </div>
    <div class="row" ng-repeat="data in ctrl.data">
      <!-- <div class="col" style="color:white;">३</div> -->
      <div class="col" style="color:white;">भगवान श्री दत्तात्रेय जयंती</div>
      <div class="col" style="color:white;">बुधवार</div>
      <div class="col" style="color:white;">२६ मे २०१८</div>

    </div>



  </div>
</ion-content>