page-yearly-festivals {
    .header .col {
          background-color:white;
        }
        
        .col {
          border: solid 1px white;
          border-bottom-style: none;
          border-right-style: none;
        }
        
        .col:last-child {
          border-right: solid 1px white;
        }
        
        .row:last-child .col {
          border-bottom: solid 1px white;
        }
}
