<!--
  Generated template for the CharitraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>चरित्र</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url(assets/imgs/redbgndd.jpg)">
  <ion-card style="background: url(assets/imgs/card_bg1.jpg);">
        <img src="https://new-img.patrika.com/upload/2017/12/04/dattatrey_2066826_835x547-m.jpg"/>
        <ion-card-content>
          <ion-card-title>
              दत्त गुरु चरित्र
            </ion-card-title>
          <p>
              गुरुचरित्र आणि गुरुलीलामृत हे दोन्ही ग्रंथ दत्तसंप्रदायात पूर्वार्ध आणि उत्तरार्ध म्हणून गणले जातात. त्यांचे पारायणही उपासना म्हणून केले जाते. पारायणाचे वेळी सप्ताहाचे बंधन असण्याने अर्थ-चिंतन करायला अवसर नसतो. म्हणून उपासनेचाच एक भाग या दृष्टिकोनातून ग्रंथाचा अभ्यासही करायला हवा. श्रीपादश्रीवल्लभ, श्रीनृसिंहसरस्वती, श्रीस्वामी समर्थ या दत्तावतारी-सत्पुरुषांनी भक्तांवर कृपादृष्टी टाकून त्यांच्या पाठीमागे कृपाशक्तीही उभी केली. तिला चमत्कार असे म्हटले गेले आहे. पण हे चमत्कार श्रद्धेच्या वाढीसाठी असून त्यायोगे भक्तांची मनोकामना पूर्ण होते हा एक भाग; पण मनोकामना पूर्ण झाल्यावर त्यांनी गुरुसेवा/ गुरूउपासना अखंडपणे चालू ठेवून आत्मज्ञानप्राप्ती करून घेतली पाहिजे. म्हणूनच गुरूंनी केलेल्या चमत्कारांमागील भक्तिसूत्र शोधून घेऊन त्यांतील गुरुबोध जाणून घ्यायला हवा. गुरु-शिष्य संवाद हा त्यासाठीच असतो.
          </p>
         
        </ion-card-content>
      </ion-card>
      </ion-content>
  <!-- <h3 style="text-align:center;color:white;"> अध्याय १</h3>
  <span>
    <img src="assets/imgs/linee12.png" style="width:70%;height: 30px; margin-left:50px;">
  </span>
  <p style="color:white;padding-left:16px;padding-right:10px;padding-bottom:10px;">गुरुचरित्र आणि गुरुलीलामृत हे दोन्ही ग्रंथ दत्तसंप्रदायात पूर्वार्ध आणि उत्तरार्ध म्हणून गणले जातात. त्यांचे पारायणही उपासना
    म्हणून केले जाते. पारायणाचे वेळी सप्ताहाचे बंधन असण्याने अर्थ-चिंतन करायला अवसर नसतो. म्हणून उपासनेचाच एक भाग या दृष्टिकोनातून
    ग्रंथाचा अभ्यासही करायला हवा. श्रीपादश्रीवल्लभ, श्रीनृसिंहसरस्वती, श्रीस्वामी समर्थ या दत्तावतारी-सत्पुरुषांनी भक्तांवर
    कृपादृष्टी टाकून त्यांच्या पाठीमागे कृपाशक्तीही उभी केली. तिला चमत्कार असे म्हटले गेले आहे. पण हे चमत्कार श्रद्धेच्या
    वाढीसाठी असून त्यायोगे भक्तांची मनोकामना पूर्ण होते हा एक भाग; पण मनोकामना पूर्ण झाल्यावर त्यांनी गुरुसेवा/ गुरूउपासना
    अखंडपणे चालू ठेवून आत्मज्ञानप्राप्ती करून घेतली पाहिजे. म्हणूनच गुरूंनी केलेल्या चमत्कारांमागील भक्तिसूत्र शोधून घेऊन
    त्यांतील गुरुबोध जाणून घ्यायला हवा. गुरु-शिष्य संवाद हा त्यासाठीच असतो.</p>

</ion-content>
<ion-footer style="background-color:transparent!important; color:transparent!important;">

  <ion-row style="text-align:center;background:transparent!important;">
    <ion-col>
      <ion-icon style="color:white;font-size:30px;" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon style="color:white;font-size:30px;" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>

</ion-footer> -->