<!-- <ion-header>
  <ion-navbar>
    <ion-title style="color:#f53d3d">
        दत्त गुरू
    </ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content style="background: url(assets/imgs/redbgndd.jpg)">
  <img style="width:100%; background: wheat" src="assets/imgs/twoo.png">
  <!-- <ion-card>
        <img src="https://new-img.patrika.com/upload/2017/12/04/dattatrey_2066826_835x547-m.jpg"/>
        <ion-card-content>
          <ion-card-title>
              दत्त गुरु चरित्र
            </ion-card-title>
          <p>
              गुरुचरित्र आणि गुरुलीलामृत हे दोन्ही ग्रंथ दत्तसंप्रदायात पूर्वार्ध आणि उत्तरार्ध म्हणून गणले जातात. त्यांचे पारायणही उपासना म्हणून केले जाते. पारायणाचे वेळी सप्ताहाचे बंधन असण्याने अर्थ-चिंतन करायला अवसर नसतो. म्हणून उपासनेचाच एक भाग या दृष्टिकोनातून ग्रंथाचा अभ्यासही करायला हवा. श्रीपादश्रीवल्लभ, श्रीनृसिंहसरस्वती, श्रीस्वामी समर्थ या दत्तावतारी-सत्पुरुषांनी भक्तांवर कृपादृष्टी टाकून त्यांच्या पाठीमागे कृपाशक्तीही उभी केली. तिला चमत्कार असे म्हटले गेले आहे. पण हे चमत्कार श्रद्धेच्या वाढीसाठी असून त्यायोगे भक्तांची मनोकामना पूर्ण होते हा एक भाग; पण मनोकामना पूर्ण झाल्यावर त्यांनी गुरुसेवा/ गुरूउपासना अखंडपणे चालू ठेवून आत्मज्ञानप्राप्ती करून घेतली पाहिजे. म्हणूनच गुरूंनी केलेल्या चमत्कारांमागील भक्तिसूत्र शोधून घेऊन त्यांतील गुरुबोध जाणून घ्यायला हवा. गुरु-शिष्य संवाद हा त्यासाठीच असतो.
          </p>
         <p style="margin-top:10px;">
            श्री दत्ताची एक कथा अश्याप्रकारे आहे. एकदा श्री ब्रम्हा, श्री विष्णू आणि श्री महेश (शिव) यांनी अत्रि ऋषी यांची पत्नी माता अनुसया यांची परीक्षा घेण्याचे ठरवतात. हे तिघेही त्यांच्या आश्रमात ऋषींचा वेष धारण करून भिक्षा मागण्यासाठी जातात आणि भिक्षा म्हणून स्तनपान ( मम् दुग्ध ) करण्यासाठीचे मागणी करतात. परंतु माता अनुसया प्रतिव्रता नारी असल्यामुळे त्यांना निराश न करण्याचे वचन देऊन लहान बालकांत रूपांतर करतात आणि स्तनपान करून त्यांना जेवू आणि झोपू घालतात. तेव्हा श्री ब्रम्हा, श्री विष्णू आणि श्री महेश त्यांच्यावर प्रसन्न होऊन त्यांचे खरे रूप दाखवत वर मागण्यास सांगतात. माता अनुसया त्यांच्याकडे तुम्ही माझी बालके व्हावीत म्हणून वर मागतात, तेव्हापासून ह्या तिघांचा एकत्रित संगम म्हणजे श्री दत्तात्रेय.
         </p>
        </ion-card-content>
      </ion-card> -->

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="vichar()">
          <span>
            <b>उपदेश,ओव्या</b>
          </span>
        </button>

      </ion-col>
      <ion-col style="text-align: center">
        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="charitra()">
          <span>
            <b>चरित्र-संक्षिप्त</b>
          </span>
        </button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center">

        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="locationdetail()">
          <span>
            <b>स्थळमहात्म्य</b>
          </span>
        </button>
      </ion-col>
      <ion-col style="text-align: center">

        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="image()">
          <span>
            <b>चित्ररुप दर्शन</b>
          </span>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center">

        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="video()">
          <span>
            <b>प्रत्यक्ष दर्शन</b>
          </span>
        </button>
      </ion-col>
      <ion-col style="text-align: center">

        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="teaching()">
          <span>
            <b>शिकवण</b>
          </span>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center">

        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="yearly()">
          <span>
            <b>उत्सव</b>
          </span>
        </button>
      </ion-col>
      <ion-col style="text-align: center">

        <button class="button" style="border:5px solid rgb(199, 156, 17);font-size:16px;" (click)="experience()">
          <span>
            <b>आठवणी</b>
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-content style="background: url(http://backgroundcheckall.com/wp-content/uploads/2017/12/background-orange-pattern-5.jpg)">
  <img src="https://new-img.patrika.com/upload/2017/12/04/dattatrey_2066826_835x547-m.jpg">
  <ion-grid style="text-align:center;">

    <ion-row>
      <ion-col col-6 (click)="vichar()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://www.sainathasramam.com/images/dattathraya_swami.png" />
        </p>
        <p style="text-align: center; font-size:14px;color: white">
          <b>विचारधन - सद्गुरु उपदेश, ओव्या</b>
        </p>
      </ion-col>
      <ion-col col-6 (click)="charitra()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://site.sreedattavaibhavam.org/wp-content/uploads/2014/05/image0018-300x300.png"
          />
        </p>
        <p style="text-align: center;color: white">
          <b>चरित्र - संक्षिप्त</b>
        </p>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6 (click)="locationdetail()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://cdn-6.mrdowling.com/images/611akshardham.png" />
        </p>
        <p style="text-align: center;color: white">
          <b> स्थळमहात्म्य</b>
        </p>
      </ion-col>
      <ion-col col-6 (click)="image()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://4.bp.blogspot.com/-ceeYoL9e9SQ/VVKtZemqvtI/AAAAAAAAAQE/MGtShKF96Hw/s1600/Dattatreya.png"
          />
        </p>
        <p style="text-align: center;color: white">
          <b>चित्ररुप दर्शन</b>
        </p>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6 (click)="video()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://www.dattaganagapur.com/dattaganagapur_files/Shripadvallabh.png" />
        </p>
        <p style="text-align: center; color: white">
          <b>प.पू. बाबांचे प्रत्यक्ष दर्शन</b>
        </p>
      </ion-col>
      <ion-col col-6 (click)="teaching()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://4.bp.blogspot.com/-ceeYoL9e9SQ/VVKtZemqvtI/AAAAAAAAAQE/MGtShKF96Hw/s1600/Dattatreya.png"
          />
        </p>
        <p style="text-align: center;color: white">
          <b>प.पू. बाबांची शिकवण</b>
        </p>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6 (click)="yearly()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://site.sreedattavaibhavam.org/wp-content/uploads/2014/05/image0018-300x300.png"
          />
        </p>
        <p style="text-align: center; color: white">
          <b>वर्षभरात साजरे होणारे उत्सव</b>
        </p>
      </ion-col>
      <ion-col col-6 (click)="experience()">
        <p style="text-align: center; margin-top: 0px!important;">
          <img style="height: 70px" src="http://www.dattaganagapur.com/dattaganagapur_files/Shripadvallabh.png" />
        </p>
        <p style="text-align: center;color: white">
          <b>शिष्यांच्याआठवणी
             व अनुभव</b>
        </p>
      </ion-col>

    </ion-row>
  </ion-grid>
  
  
  </ion-content> -->
<!-- <ion-row>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;border-radius : 5px;">
          <p style="text-align:center;margin-top:10px;">विचारधन - सद्गुरु उपदेश, ओव्या</p>
        </ion-card>
      </ion-col>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;border-radius : 5px;">
          <p style="text-align:center;margin-top:10px;">चरित्र - संक्षिप्त</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;border-radius : 5px;">
          <p style="text-align:center;margin-top:10px;">स्थळमहात्म्य</p>
        </ion-card>
      </ion-col>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;border-radius : 5px;">
          <p style="text-align:center;margin-top:10px;">चित्ररुप दर्शन</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;border-radius : 5px;">
          <p style="text-align:center;margin-top:10px;">प.पू. बाबांचे प्रत्यक्ष दर्शन</p>
        </ion-card>
      </ion-col>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;border-radius : 5px;">
          <p style="text-align:center;margin-top:10px;">प.पू. बाबांची शिकवण</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;">
          <p style="text-align:center;margin-top:10px;">वर्षभरात साजरे होणारे उत्सव</p>
        </ion-card>
      </ion-col>
      <ion-col style="margin:0px!important;padding:0px!important;">
        <ion-card style="height:60px;">
          <p style="text-align:center;margin-top:10px;">शिष्यांच्याआठवणी व अनुभव</p>
        </ion-card>
      </ion-col>
    </ion-row> -->