<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center;padding-bottom: 5px">
      <b>अनुक्रमणिका</b>
    </ion-title>
    <ion-buttons end>
      <a ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="more"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content>


  <div style="width: 100%;position:fixed;float: left;background: white">
    <ion-row>
      <ion-col col-2>
        <img style="width:50px;height:50px;" src="assets/imgs/jasmine.jpg">
      </ion-col>
      <ion-col col-8>
        <p style="font-size:20px;text-align:center;">
          <b>
            || श्री विष्णुदास महाराज ||</b>
        </p>
        <img style="margin-top:-20px; width: 100%" src="assets/imgs/indexline.png">
      </ion-col>
      <ion-col col-2>
        <img style="width:50px;height:50px;" src="assets/imgs/jasmine.jpg">
      </ion-col>
    </ion-row>
  </div>

  <div style="padding-top: 111px">
    <div *ngFor="let data of Data">

      <h4 style="text-align:center; color: rgb(23, 109, 124);margin: 0px!important;" (click)="details(data)">
        <b>||&nbsp;{{data.name}}&nbsp;||</b>
      </h4>

      <img src="assets/imgs/line33.png" style="width:100%;">



    </div>
  </div>

</ion-content>