<!--
  Generated template for the UpdeshPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>



  <img style="height: 100%;width: 100%" src="assets/imgs/guru.jpg" (click)="curlPage()">
  
  <ion-footer style="background-color: rgba(255, 255, 255, 0.527)">
    <!-- <button ion-fab style="float:right;margin-right:10px;margin-bottom: -30px;" (click)="indexPage()">
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </button> -->
    <ion-row>

      <ion-col col>
        <p style="font-size:28px;text-align:center; color: black;margin: 0px">
          <b>
            || समर्थ सद्‍ गुरु श्री विष्णुदास स्वामी महाराज ||</b>
        </p>

      </ion-col>

    </ion-row>

  </ion-footer>
</ion-content>