<!--
  Generated template for the ExperiencesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>आठवणी</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url(assets/imgs/redbgndd.jpg)">
  <ion-list style="text-align:center;">
    <div style="text-align:center;">
      <ion-row style="border:5px solid rgb(199, 156, 17);margin-top:20%;  margin-left: 15%;margin-right: 15%;
      height:100px;" (click)="vichar()">
        <ion-col col-6>
          <img style="height:80px;color:white;" src="http://www.iconsplace.com/download/white-guru-512.png">
        </ion-col>
        <ion-col col-6 style="text-align:center;font-size:20px;color:white;">प. पू. बाबांचे विचारधन</ion-col>
      </ion-row>

      <ion-row style="border:5px solid rgb(199, 156, 17); margin-top:15px; height:100px; margin-left: 15%;margin-right: 15%;" (click)="updesh()">
        <ion-col col-6>
          <img style="height:80px;color:white;" src="https://www.prosci.com/media/icons/icon-thoughtleadershiplibrary-white-box.png ">
        </ion-col>
        <ion-col col-6 style="text-align:center;font-size:20px;color:white;">सद्‍गुरु उपदेश</ion-col>
      </ion-row>

      <ion-row style="border:5px solid rgb(199, 156, 17); margin-top:15px; margin-left: 15%;margin-right: 15%; height:100px;" (click)="ovya()">
        <ion-col col-6>
          <img style="height:80px;color:white;" src="https://bit.ly/2GPXIgf">
        </ion-col>
        <ion-col col-6 style="text-align:center;font-size:20px;color:white;">सद्‍गुरु ओव्या</ion-col>
      </ion-row>
    </div>

  </ion-list>
</ion-content>