<!--
  Generated template for the RegisterUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <ion-icon class="more1" name="arrow-back" style="color: white;font-size: 25px" (click)='goback()' showWhen="android"></ion-icon>
          <ion-icon class="more" name="ios-arrow-back" style="color: white;font-size: 25px" (click)='goback()' showWhen="ios"></ion-icon>
        </ion-col>
        <ion-col col-11>
          <ion-title showWhen="android">Register User</ion-title>
          <ion-title showWhen="ios">Register</ion-title>
          <!-- <h1 style="font-size: 100%; margin-top: 0px; text-align: center;">My Activity List</h1> -->
          <!--  <ion-title>
                    My Activity List
                  </ion-title> -->
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <ion-label stacked>
      <b>Name</b>
    </ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </div>

  <div>
    <ion-label stacked>
      <b>Email</b>
    </ion-label>
    <ion-input style="border: 1px solid #ccc;" type="email" id="Email" [(ngModel)]="email" name="email" pattern="[A-Z0-9a-z\\._%+-]+@([A-Za-z0-9-]+\\.)+[A-Za-z]{2,4}$"
      required #Email="ngModel" showWhen="android"></ion-input>
    <ion-input style="border: 1px solid #ccc;margin-left: 16px;width: calc(100% - (16px / 2) - 16px); padding-left: 10px" type="email" id="Email"
      [(ngModel)]="email" name="email" pattern="[A-Z0-9a-z\\._%+-]+@([A-Za-z0-9-]+\\.)+[A-Za-z]{2,4}$" required #Email="ngModel"
      showWhen="ios"></ion-input>

  </div>
  <div>
    <span *ngIf="Email.errors">
      <!-- <span [hidden]="!Email.errors.required"> 
            <ion-label style="color: red; margin-left: 16px;"> Email is required </ion-label>
        </span> -->
      <span [hidden]="!Email.errors.pattern">
        <ion-label style="color: rgba(248, 183, 4, 0.795); margin-left: 16px;"> Please enter a valid email </ion-label>
      </span>
    </span>
  </div>
  <div>
    <ion-label stacked>
      <b>Mobile Number</b>
    </ion-label>
    <ion-input type="number" [(ngModel)]="mobile"></ion-input>
  </div>

  <div>
    <ion-label stacked>
      <b>Password</b>
    </ion-label>
    <ion-input type="{{type}}" [(ngModel)]="password"></ion-input>
  </div>

  <p style="white-space:normal;" (click)="showConfirmPassword()">
    <ion-checkbox *ngIf="!showPass2" color="dark" (click)="showConfirmPassword()"></ion-checkbox>
    <ion-checkbox *ngIf="showPass2" checked="true" color="dark" (click)="showConfirmPassword()"></ion-checkbox>&nbsp;Show Password</p>

  <button ion-button style="background: #d3ab26" (click)="createAcc()">Create Account</button>
  <!-- <form action="/action_page.php">


    <div class="container">
      <label for="uname">
        <b>Name</b>
      </label>
      <input type="text" placeholder="Enter your Name" name="uname" required [(ngModel)]="userData.name">
      <label for="mobile">
        <b>Mobile</b>
      </label>
      <input type="text" placeholder="Enter your Number" name="uname" required [(ngModel)]="userData.mobile">


      <label for="uname">
        <b>Email</b>
      </label>
      <input type="text" placeholder="Email Id" name="uname" required [(ngModel)]="userData.email">

      <label for="psw">
        <b>Password</b>
      </label>
      <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="userData.password">

      <button type="submit" style="background: #d3ab26" (click)="createAcc()">Create Account</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">


    </div>
  </form> -->
</ion-content>