<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <ion-icon class="more1" name="arrow-back" style="color: white;font-size: 25px" (click)='goback()'></ion-icon>
        </ion-col>
        <ion-col col-11>
          <ion-title showWhen="android">Change Password</ion-title>
          <h5 style="color: white;margin: 0px;margin-top: 2px;" showWhen="ios">Change Password</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <form action="/action_page.php">
    <div class="container">

      <label for="uname">
        <b>Old Password</b>
      </label>
      <input type="text" placeholder="Old Password" name="uname" required>

      <label for="uname">
        <b>New Password</b>
      </label>
      <input type="text" placeholder="New Password" name="uname" required>

      <label for="psw">
        <b>Confirm Password</b>
      </label>
      <input type="password" placeholder="Confirm Password" name="psw" required>

      <button type="submit" style="background: #d3ab26" (click)="login()">Submit</button>
    </div>

  
  </form>
    <div class="container" style="background-color:#f1f1f1">


    </div>
  </form> -->
  <ion-card padding>
   
      <ion-item>
        <ion-label stacked>Old Password</ion-label>
        <ion-input style="border: 1px solid #ccc;padding-left:10px " type="{{type}}" [(ngModel)]="userData.oldpassword" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>New Password</ion-label>
        <ion-input  style="border: 1px solid #ccc;padding-left:10px "  type="{{type}}" [(ngModel)]="userData.newpassword" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>Confirm Password</ion-label>
        <ion-input   style="border: 1px solid #ccc;padding-left:10px "  type="{{type}}"  [(ngModel)]="userData.confirmpassword" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Show Password</ion-label>
      <ion-checkbox *ngIf="!showPass2" color="dark" (click)="showConfirmPassword()"></ion-checkbox>
      <ion-checkbox *ngIf="showPass2" checked="true" color="dark" (click)="showConfirmPassword()"></ion-checkbox>
    </ion-item>
      <button ion-button full (click)="submit()">Submit</button>
   
  </ion-card>
</ion-content>