<!--
  Generated template for the LocationDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>स्थळमहात्म्य</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url(assets/imgs/redbgndd.jpg)">
  <ion-card>
    <img src="http://tourmet.com/wp-content/uploads/2014/05/Datta-Temple-Sarangkheda.jpg" />
  </ion-card>
  <ion-card>
    <ion-card-content padding style="background: url(assets/imgs/card_bg1.jpg);">
      <ion-card-title>
        दत्त गुरु स्थळमहात्म्य
      </ion-card-title>
      <p>
        अहिंसा भवनाची इमारत ज्याचे भोजन कक्ष आहे, ती 2003 मध्ये उघडण्यात आली.
      </p>
      <p style="margin-top:10px;">
        त्याआधी नऊ वर्षांपूर्वी (जी गुरुजींनी देवलोखसाठी सोडली त्या काही काळानंतर) त्या स्थानावर एक मोठी लाकडी इमारत होती ज्यात एक
        डायनिंग हॉल होती .
      </p>
      <p style="margin-top:10px;">
        1 99 4 साली हे एक गूढ आगीमध्ये राख पडले. त्या लाकडी इमारतीमध्ये गुरुजींनी जेवण घेतले आणि आश्रमवासीयांसोबत संवाद साधला.
      </p>
      <p style="margin-top:10px;">
        जेव्हा इमारत पुन्हा बांधली गेली तेव्हा त्याच जागी गुरुजींच्या जीवन-आकारात प्रितमाजीची खोली बसवण्यात आली. गेल्या काही वर्षांमध्ये,
        हे गुरु मंदिर म्हणुन आले आहे.
      </p>
      <p style="margin-top:10px;">
        गुरुजींचे भक्त महत्वाच्या विषयांना भेटून त्यांचे समर्पण करण्यासाठी हे एक आवडते ठिकाण आहे.
      </p>
      <p style="margin-top:10px;">
        गुरुमंदिरमध्ये शूज किंवा खाद्यपदार्थांची परवानगी नाही. गुरु मंदिरमध्ये गुरुजींचे हात-पेंट केलेले चित्र आहे आणि गणपती श्री
        गौतम स्वामींच्या भिंतीवर एक भिंत आहे.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>