page-teachings {
    p:first-letter {
        text-transform: capitalize;
      
        font-size: 32px;
      }
      .selectable {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }      
      h5{
        width:  100%;
        text-align:  center;
        color:rgb(23, 109, 124)!important;
         }
}
