<!--
  Generated template for the TeachingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>
      <b>{{FinalObj.name}}</b>
    </ion-title>
  </ion-navbar>

</ion-header>

<!-- style="background: url(assets/imgs/flower1.png);" -->
<ion-content>
  <img src="assets/imgs/1212.png">
  <ion-card style="background:rgba(209, 230, 181, 0.219); margin-top:15px; height:auto; padding:0px!important;">

    <!-- <ion-item style="border: 0px">
          <ion-avatar item-start>
            <img src="assets/imgs/guru.jpg">
          </ion-avatar>
          <h2>{{FinalObj.name}}</h2>
        
        </ion-item> -->
    <!-- <img src="assets/imgs/mogr.jpg"> -->
    <p class="first-letter selectable" padding style="color:rgb(23, 109, 124); text-align: justify" [innerHTML]='FinalObj.matter'></p>
    <!-- <ion-row style="text-align:center;">
          <ion-col>
              <ion-icon style="color:black;font-size:30px;" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon style="color:black;font-size:30px;" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </ion-col>
      </ion-row> -->
  </ion-card>
  <img src="assets/imgs/1212.png">
</ion-content>
<!-- <ion-card>

    <ion-item>

      <img src="https://new-img.patrika.com/upload/2017/12/04/dattatrey_2066826_835x547-m.jpg">

      <h2 style="text-align: center"><b>प.पू. बाबा</b> </h2>

    </ion-item>


    <h3 style="text-align: center;margin-top: 5px"><b>शिकवणी 1</b></h3>
    <ion-card-content> -->
<!-- <p>दत्त (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव मानले जाते. स्वधर्म आणि स्वसंस्कृती संकटग्रस्त असताना त्यांची
        जोपासना व संरक्षण करण्याचे महत्त्वाचे कार्य दत्त संप्रदायाने केले. दत्त ही देवता अत्रि ऋषी व त्यांची पत्‍नी अनुसया
        यांचा पुत्र असून त्याला दुर्वास व सोम नावाचे दोन भाऊ आहेत</p>
    </ion-card-content>

  </ion-card>

  <ion-card>
      <h3 style="text-align: center;margin-top: 5px"><b>शिकवणी 2</b></h3>
      <ion-card-content>
        <p>दत्त (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव मानले जाते. स्वधर्म आणि स्वसंस्कृती संकटग्रस्त असताना त्यांची जोपासना व संरक्षण करण्याचे महत्त्वाचे कार्य दत्त संप्रदायाने केले. दत्त ही देवता अत्रि ऋषी व त्यांची पत्‍नी अनुसया यांचा पुत्र असून त्याला दुर्वास व सोम नावाचे दोन भाऊ आहेत</p>
      </ion-card-content>
  </ion-card>

  <ion-card>
      <h3 style="text-align: center;margin-top: 5px"><b>शिकवणी 3</b></h3>
      <ion-card-content>
        <p>दत्त (दत्तात्रेय) हा एक योगी असून हिंदू धर्मात त्याला देव मानले जाते. स्वधर्म आणि स्वसंस्कृती संकटग्रस्त असताना त्यांची जोपासना व संरक्षण करण्याचे महत्त्वाचे कार्य दत्त संप्रदायाने केले. दत्त ही देवता अत्रि ऋषी व त्यांची पत्‍नी अनुसया यांचा पुत्र असून त्याला दुर्वास व सोम नावाचे दोन भाऊ आहेत</p>
      </ion-card-content>
  </ion-card> -->