<!--
  Generated template for the LocationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Locations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page" style="background: url(assets/imgs/redbgndd.jpg)">
  <ion-card (click)="details()">
    <img src="http://tourmet.com/wp-content/uploads/2014/05/Datta-Temple-Sarangkheda.jpg" />
    <div>
      <div class="card-title">भांबेरी</div>
      <!-- <div class="card-subtitle">41 Listings</div> -->
    </div>
  </ion-card>

  <ion-card>
    <img src="http://www.itsgoa.com/wp-content/uploads/2015/06/datta_mandir-min-640x405.jpg" />
    <div class="card-title">गाडेगाव</div>
    <!-- <div class="card-subtitle">64 Listings</div> -->
  </ion-card>

  <ion-card>
    <img src="http://4.bp.blogspot.com/-lg28kpBcT50/VPwS2qgWo6I/AAAAAAAAFvc/np3hA7lDw4w/s1600/IMG_20150307_083231.jpg" />
    <div class="card-title">गुरुमंदिर </div>
    <!-- <div class="card-subtitle">72 Listings</div> -->
  </ion-card>
</ion-content>