<!--
  Generated template for the ImageGalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>चित्ररुप दर्शन</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background: url(assets/imgs/redbgndd.jpg)">
    <ion-slides class="image-slider" loop="true" slidesPerView="2">
      <ion-slide *ngFor="let img of images">
        <img src="{{img}}" class="thumb-img" imageViewer/>
      </ion-slide>
    </ion-slides>
  </ion-content>
