<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Popover</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-list>

    <button ion-item (click)="changepassword()">Change Password</button>
    <button ion-item (click)="logout()">Logout </button>
    <button ion-item (click)="close()">Exit</button>

  </ion-list>
</ion-content>